<section class="admin">
	<% @pages.each do |page| %>
		<h1><%= page.name %></h1>

		<% Thing.where("name = ?", page.name).each do |thing| %>
			<form action='<%= url("/thing/#{thing.id}") %>' id="<%= thing.id %>-form" method="POST" enctype="multipart/form-data" onsubmit="return false;">
				<input type="text" value="<%= thing.description %>" name="description" required>
				<button id="<%= thing.id %>-button" class="thing-button" data-id="<%= thing.id %>">Update!</button>
			</form>
		<% end %>
		<section class="new_content">
			<strong id="new_thing">New Thing</strong>
			<form action='<%= url("/page/thing") %>' method="POST" enctype="multipart/form-data" onsubmit="return false;" id="thing-form">
				<input type="text" name="desc" placeholder="thing text">
				<input type="hidden" name="type" value="h1">
				<input type="hidden" name="name" value="<%= page.name %>">
				<button class="thing-button" data-id="thing">Create!</button>
			</form>
		</section>
	<% end %>

	<section class="new_content">
		<strong id="new_page">New Page</strong>
		<form action='<%= url("/page") %>' method="POST" enctype="multipart/form-data" onsubmit="return false;" id="page-form">
			<input type="text" name="name" placeholder="page name">
			<button class="thing-button" data-id="page">Create!</button>
		</form>

		<strong id="new_user">New User</strong>
		<form action='<%= url("/user") %>' method="POST" enctype="multipart/form-data" onsubmit="return false;" id="user-form">
			<input type="text" name="name" placeholder="name">
			<input type="password" name="password" placeholder="password">
			<button class="thing-button" data-id="user">Create!</button>
		</form>
	</section>
</section>